nav {
    grid-area: nav;
} 

main {
    grid-area: main;
}

header {
    grid-area: header;
}

#card1  {
    grid-area: card1;
}

#card2 {
    grid-area: card2;
}

#card3 {
    grid-area: card3;
}
#card4 {
    grid-area: card4;
}

#sect1 {
    grid-area: sect1;
}

#sect2 {
    grid-area: sect2;
}

body {
    grid-template-columns: 395px 4fr 4fr 4fr 4fr;
    grid-template-rows: 75px 55px 585px 440px;
    display: grid;
    grid-template-areas: 
        "nav nav nav nav nav"
        "header header header header header"
        "main card1 card2 card3 card4"
        "main sect1 sect1 sect2 sect2";
    gap: 8px;
}