@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    display: inline-block;
    background-color: #37353F;
    font-family: "Source Code Pro", monospace;
}

nav {
    display: flex;
    flex-direction: collumn;
    height: 75px;
    background-color: #524874;
    line-height: 75px;
}

nav img {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

a {
    margin: 0;
    padding-top: 2.5px;
}

nav .header {
    flex-grow: 1;
    text-align: center;
}
nav h1 {
    display: inline-block;
    margin: 0;
    width: 676px;
    font-size: 48px;
    background-color: #8B6E9E;
}

.icon {
    padding-left: 7px;
}


.summary {
    width: 358px;
}

h1, h2 {
    color: #EAE5FF;
    background-color: #37353F;
    font-weight: normal;
}
 p {
    color: #C3BFD5;
    background-color: #37353F;
    font-weight: normal;
}

h3, a {
    color: #F088F2;
    font-weight: normal;
}

